.main_image img {
	min-width: 650px;
	min-height: 400px;
	max-width: 650px;
	max-height: 400px;
	background-size: cover;

}

@media(max-width:980px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
}

@media(max-width:775px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
}

@media(max-width:641px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
}

@media(max-width:485px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}
}
