.course_head img{
   max-width: 100%; 
    display:block; 
    height: 250px;
    background-image: cover;
    background-position: center;
    background-size: auto;

}



@media(max-width:768px){
 .course_head img:hover{
  transform: scale(0.5);

}
}

.owl-next img{
    visibility: hidden;
}

