.course_head img{
   max-width: 100%; 
    display:block; 
    height: 250px;
    background-image: cover;
    background-position: center;
    background-size: auto;

}



@media(max-width:768px){
 .course_head img:hover{
  transform: scale(0.5);

}
}

.owl-next img{
    visibility: hidden;
}

.modal-contents {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}
.modal-headers {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.login_btn {
    width: 100%;
    background: #deb887 !important;
    color: white !important;
}