body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #FAEBD7 !important;
}

.main_image img {
	min-width: 650px;
	min-height: 400px;
	max-width: 650px;
	max-height: 400px;
	background-size: cover;
}

.kotakBisque {

	background-color: #FFE4C4;
	border-radius: 4px;
	box-shadow: 0px 0px 10px grey;
}

.blog_right_sidebar .widget_title {
	background-color: burlywood;
	color: #002347;
}

.content_wrapper {
	padding-left: 10%;
}

@media(max-width:980px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}

	.kotakBisque {
		margin-right: 5%;
		margin-left: 5%;
		background-color: #FFE4C4;
		border-radius: 4px;
		box-shadow: 0px 0px 10px grey;
	}
}

@media(max-width:775px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}

	.kotakBisque {
		margin-right: 5%;
		margin-left: 5%;
		background-color: #FFE4C4;
		border-radius: 4px;
		box-shadow: 0px 0px 10px grey;
	}
}

@media(max-width:641px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}

	.kotakBisque {
		margin-right: 5%;
		margin-left: 5%;
		background-color: #FFE4C4;
		border-radius: 4px;
		box-shadow: 0px 0px 10px grey;
	}
}

@media(max-width:485px) {
	.main_image img {
		min-width: 50%;
		min-height: 50%;
		max-width: 95%;
		max-height: auto;
		background-size: cover;
		margin: 0;
		padding: 0;
	}

	.kotakBisque {
		margin-right: 5%;
		margin-left: 5%;
		background-color: #FFE4C4;
		border-radius: 4px;
		box-shadow: 0px 0px 10px grey;
	}
}

.border-aside{
	border-color: darkorange;
	padding-right: 2%;
	padding-left: 2%;
}

.instagram-media{
	background-color: #FFE4C4;border-radius: 3px;border: 1px solid rgb(219, 219, 219);box-shadow: inherit;
                            display: block;margin: 0px 0px 12px;width: 100%;padding: 0px; max-height: 50rem;
}